.msg {
    padding: 10px;
    background: red;
    position: relative;
}

.msg h1 {
    color: #fff;
}

.msg a {
    margin-left: 20px;
    background: #408814;
    color: green;
    padding: 4px 8px;
    text-decoration: none;
}

.msg a:hover {
    background: #266400;
}


/* //-- yui-grids style overrides -- */

body {}

.container {}

#doc2 {
    font-family: Georgia;
    color: #dfdfdf;
}

#inner {
    padding: 10px 80px;
    margin: 80px auto;
    background-color: #312d2d;
    font-family: cursive;
    text-align: left;
}

.talent {
    margin-left: 200px;
}

.yui-main {
    text-align: justify;
}

.yui-gf {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-style: dotted;
    border-bottom: 3px solid #ffffff;
    border-style: dotted;
}

.contentsecction {
    background-color: beige;
}


/* //-- header, body, footer -- */

#hd {
    margin: 2.5em 0 3em 0;
    padding-bottom: 1.5em;
    justify-content: left;
    text-align: left;
}

#hd h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#bd,
#ft {
    margin-bottom: 2em;
}


/* //-- footer -- */

#ft {
    min-height: 1000%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 50px;
    text-align: center;
}

#ft p {
    margin-bottom: 0;
    text-align: center;
}


/* //-- core typography and style -- */

#hd h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

h2 {
    font-size: 20px;
    font-style: bold;
}

h3,
h4 {
    font-size: 100%;
}

h1,
h2,
h3,
h4 {
    color: #c8ff00;
}

p {
    font-size: 100%;
    line-height: 16px;
    padding-right: 3em;
}

a {
    color: #990003
}

a:hover {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

li {
    line-height: 24px;
}

p.enlarge {
    font-size: 144%;
    padding-right: 6.5em;
    line-height: 24px;
}

p.enlarge span {
    color: #dfdfdf;
}

.contact-info {
    margin-top: 7px;
}

.first h2 {
    font-style: bold;
}

.last {
    border-bottom: 0
}

img {
    width: 200px;
    height: 200px;
    border-radius: 15px, 50px, 30px;
    margin-left: 35%;
}


/* //-- section styles -- */

a#pdf {
    display: block;
    float: left;
    background: #666;
    color: white;
    padding: 6px 50px 6px 12px;
    margin-bottom: 6px;
    text-decoration: none;
}

a#pdf:hover {
    background: #222;
}

.job {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.job h4 {
    position: absolute;
    top: 0.35em;
    right: 0
}

.job p {
    margin: 0.75em 0 3em 0;
}

.last {
    border: none;
}

.skills-list {}

.skills-list ul {
    margin: 0;
}

.skills-list li {
    margin: 3px 0;
    padding: 3px 0;
}

.skills-list li span {
    font-size: 152%;
    display: block;
    margin-bottom: -2px;
    padding: 0
}

.talent {
    width: 32%;
    float: left
}

.talent h2 {
    margin-bottom: 6px;
}

#srt-ttab {
    margin-bottom: 100px;
    text-align: center;
}

#srt-ttab img.last {
    margin-top: 20px
}


/* --// override to force 1/8th width grids -- */

.yui-gf .yui-u {
    width: 80.2%;
}

.yui-gf div.first {
    width: 12%;
}

.card-img-top {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 50px;
}

.yui-gf {
    border-style: dotted;
    border-width: 4px;
    padding: 30px;
}